{% load static %}
<!DOCTYPE HTML>
<html lang="en-US">




<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}{% endblock title %} </title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
	<link rel="manifest" href="{% static "site.webmanifest" %}">
    <link rel="shortcut icon" href="{% static 'favicon-32x32.png' %}">

    <!-- CSS here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Add this to your HTML -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.7.0/remixicon.css" integrity="sha512-vgK7iuWG4Uq4GJHovntONntOoSduelAYImQTT3f0mvdUcI95qQgSmf4ldDhn/FNl3g/xouqOtsm/NxFqaTnxbA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/elegant-icons.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nice-select.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nouislider.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/flatpickr.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/icons.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}"/>
    <script src="{% static 'asset/js/layout.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>

    <style>
        body{
          font-family: 'Poppins', sans-serif;
          background: #fff;
        }
      </style>
      <style>
        /* Add this style to position the toasts at the top */
        .info-toast {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }
    </style>
    <!-- Preloader -->
    <div id="preloader" >
        <div id="ctn-preloader"  class="ctn-preloader">
            <div class="round_spinner" style="height: 120px; width: 120px;">
                <div class="spinner"></div>
                <div class="text">
           <img src="{% static 'img/logo-single-white.jpg' %}" height="55" alt=""> 
                    
                </div>
            </div>
            
        </div>
    </div>
    <!-- Header -->
    <header class="header">
        <div class="header-menu header-menu-2" id="sticky">
            
            <nav class="navbar navbar-expand-lg ">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <img src="{% static 'img/logo-single-dark.png' %}" height="40" alt="logo">
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_toggle" style="color: #fff;">
                            <span class="hamburger" style="color: #fff;">
                                <span style="background: #8085a9;"></span>
                                <span style="background: #8085a9;"></span>
                                <span style="background: #8085a9;"></span>
                            </span>
                            <span class="hamburger-cross" style="color: #fff;">
                                <span style="background: #8085a9;"></span>
                                <span style="background: #8085a9;"></span>
                            </span>
                        </span>
                    </button>
                    <style>
                        @media only screen and (max-width: 767px) {
                            .navbar-collapse{
                                background: #03000b;
                            }
                        }
                        
                        /* Media query for devices with a minimum width of 768 pixels and a maximum width of 991 pixels (typically tablets) */
                        @media only screen and (min-width: 768px) and (max-width: 991px) {
                            .navbar-collapse{
                                background: #03000b;
                            }
                        }
                    </style>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                        <ul class="navbar-nav menu ms-5 me-auto">
                            <li class="nav-item dropdown submenu " >
                                <a href="/" class="nav-link dropdown-toggle" style="color: #8085a9;"
                                      >Home</a>
                              
                            
                            </li>
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" style="color: #8085a9;" href="{% url "core:contact" %}" role="button"
                                     aria-haspopup="true" aria-expanded="false">
                                    Contact
                                </a>
                            
                            </li>
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" style="color: #8085a9;" href="{% url "core:faq" %}" role="button"
                                     aria-haspopup="true" aria-expanded="false">
                                    FAQs
                                </a>
                                
                            </li>
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" style="color: #8085a9;" href="{% url "core:about" %}" role="button" 
                                    aria-haspopup="true" aria-expanded="false">
                                    About Us
                                </a>
                        
                            </li>
                            <li class="nav-item"> <span id="google_translate_element" class="google_t"></span></li>

                        </ul>
                        <script>
                            // Function to determine if the page is in dark mode
                            function isDarkMode() {
                                // You can customize this logic based on your template or specific requirements
                                // Here, I'm checking the background color of the body for simplicity
                                var bodyBackgroundColor = window.getComputedStyle(document.body).backgroundColor;
                                var rgbBackgroundColor = hexToRgb(bodyBackgroundColor);
                                return isDarkColor(rgbBackgroundColor);
                            }

                            // Function to convert hex color to RGB
                            function hexToRgb(hex) {
                                hex = hex.replace(/^#/, '');
                                var bigint = parseInt(hex, 16);
                                var r = (bigint >> 16) & 255;
                                var g = (bigint >> 8) & 255;
                                var b = bigint & 255;
                                return { r, g, b };
                            }

                            // Function to check if a color is dark
                            function isDarkColor(color) {
                                var luminance = 0.299 * color.r + 0.587 * color.g + 0.114 * color.b;
                                return luminance < 128;
                            }

                            // Check if it's dark mode
                            if (isDarkMode()) {
                                // If in dark mode, add a class to the .goog-te-combo element
                                var googTeCombo = document.querySelector('.goog-te-combo');
                                if (googTeCombo) {
                                    googTeCombo.classList.add('dark-mode');
                                }
                            } else {
                                // If not in dark mode, you may want to remove the class (optional)
                                var googTeCombo = document.querySelector('.goog-te-combo');
                                if (googTeCombo) {
                                    googTeCombo.classList.remove('dark-mode');
                                }
                            }

                        </script>
                        <style>
                            @media only screen and (max-width: 600px) {
                                .google_t {
                                    transform: translateX(50px); 
                                    
                                }
                                
                            
                               
                            }
                            .VIpgJd-ZVi9od-l4eHX-hSRGPd{
                                display: none;
                            }
                            
                            .VIpgJd-ZVi9od-ORHb-OEVmcd.skiptranslate{
                                
                            }
                            .goog-te-combo {
                              height: 25px; 
                              border: 1px solid #0b244b;
                              border-radius: 1px;
                              font-family: 'Poppins', sans-serif;
                            }
                            .js-darkmode-btn{
                                transform: translateX(45px);
                            }
                            .info-toast{
                                background: #0050b2;
                            }
                        </style>

                       
                      
                        {% comment %} <div class="px-4 js-darkmode-btn mb-2" style="width: 30px;" title="Toggle dark mode">
                            <label for="something" class="tab-btn tab-btns">
                                <ion-icon name="moon-outline"></ion-icon>
                            </label>
                            <label for="something" class="tab-btn">
                                <ion-icon name="sunny-outline"></ion-icon>
                            </label>
                            <label class="ball" for="something"></label>
                            <input type="checkbox" name="something" id="something" class="dark_mode_switcher">
                        </div> {% endcomment %}
                    </div>
                </div>
            </nav>
            <div class="d-flex align-items-center">
            {% if messages %}
                {% for message in messages %}
                <ul class="alert alert-{{message.tags}} "  id="alert">
                    
                    <li style="font-family: 'Poppins', sans-serif; font-size: 14px;">{{ message }}</li>
				</ul>

                {% endfor %}
                {% endif %}
            </div>
				<script>
					// Get the reference to the div
					var myDiv = document.getElementById("alert");
			
					// Define a function to be executed after a delay
					function hideDiv() {
						// Set the 'display' property to 'none' to hide the div
						myDiv.style.display = 'none';
					}
			
					// Set a timeout for 3000 milliseconds (3 seconds)
					setTimeout(hideDiv, 4000);
				</script>
        </div>
    </header>
   
    <script>
        function generateRandomPhoneNumber() {
            const digits = Math.floor(Math.random() * 10000000000).toString().padStart(10, '0');
            return `${digits.substring(3, 6)}`;
        }
    
        function generateRandomValue() {
            return (Math.floor(Math.random() * (50000 - 100 + 1)) + 100).toLocaleString();
        }
    
        function getRandomToastMessage() {
            const templates = [
                `User ${generateRandomPhoneNumber()} invested $${generateRandomValue()}`,
                `User ${generateRandomPhoneNumber()} deposited $${generateRandomValue()}`,
                `User ${generateRandomPhoneNumber()} upgraded plan`,
                // Add more templates as needed
            ];
    
            const randomIndex = Math.floor(Math.random() * templates.length);
            return templates[randomIndex];
        }
    
        function displayRandomToast() {
            const toastMessage = getRandomToastMessage();
    
            Toastify({
                text: toastMessage,
                duration: 5000,
                close: true,
                className: "info-toast",
                position: "center",
                gravity: 'top',
            }).showToast();
        }
    
        setInterval(displayRandomToast, 15000);
    </script>
    
{% block content %}


{% endblock content %}
<footer class="saas-footer-area" style="background: #032251; margin-top: -110px;">
    <div class="saas-footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="f-widget about-widget">
                        <h4 class="f-widget-title" style="color: #fff;"><img src="{% static "img/logo-nice.png" %}" height="100" alt="logo"/></h4>
                        
                        <ul class="list-unstyled">
                           <li style="font-family: 'Poppins', sans-serif  !important;">Let’s help you manage that portfolio with ease and a great profit return ..</li>
                        </ul>
                    </div>
                    <div class="d-flex mb-5">
                        <div class="f-social" style="color: #fff;">
                            <a href="#"><img src="{% static "img/facebook.png" %}" style="margin: 5px;" height="30" alt="logo"/></h4></a>
                            <a href="#"><img src="{% static "img/linkedin.png" %}" style="margin: 5px;" height="30" alt="logo"/></h4></a>
                            <a href="#"><img src="{% static "img/whatsapp.png" %}" style="margin: 5px;" height="30" alt="logo"/></h4></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="f-widget link-widget">
                        <h4 class="f-widget-title" style="color: #fff;">Quick Links </h4>
                        <ul class="footer-link" >
                            <li><a href="{% url "core:faq" %}" style="font-family: 'Poppins', sans-serif  !important;">FAQs</a></li>
                            <li><a href="{% url "userauths:sign-in" %}" style="font-family: 'Poppins', sans-serif  !important;">Login</a></li>
                            <li><a href="{% url "core:contact" %}" style="font-family: 'Poppins', sans-serif  !important;">Contact Support</a></li>
                            <li><a href="{% url "userauths:sign-up" %}" style="font-family: 'Poppins', sans-serif  !important;">Create an account</a></li>
                            <li><a href="#" style="font-family: 'Poppins', sans-serif  !important;">Company Certification</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="f-widget about-widget">
                        <h4 class="f-widget-title" style="color: #fff;">Contact Us</h4>
                        <ul class="list-unstyled">
                            <li style="font-family: 'Poppins', sans-serif  !important;"><i class="ri-map-pin-line m-1"></i>Isle of Man office
                                St Mary's Court, 20 Hill Street
                                Douglas Isle of Man, UK<br></li>
                            <li style="font-family: 'Poppins', sans-serif  !important;"><i class="ri-map-pin-line m-1"></i>Hamilton Business Centre
                                City Hall, 71 Main Street West, 1st Floor
                                Hamilton, Ontario L8R 4Y5, Canada</li>
                            
                            <li style="font-family: 'Poppins', sans-serif  !important;"><i class="ri-phone-line m-1"></i><a href="tel:235684154" style="font-family: 'Poppins', sans-serif  !important;">+44 572-904-6013</a></li>
                            <li style="font-family: 'Poppins', sans-serif  !important;"><a href="mailto:support@profitopit.net" style="font-family: 'Poppins', sans-serif  !important;">support@profitopit.net</a></li>
                        </ul>
                    </div>
                </div>
          
            </div>
        </div>
    </div>
    <div class="saas-footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-6">
                    <div class="d-flex">
                        
                        <p style="font-family: 'Poppins', sans-serif  !important;">2023 <a href="#" style="color: #fff;">Profitopit</a>. All rights reserved</p>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->

<!-- Back to top button -->

<!-- JS here -->
<script type="text/javascript" src="{% static 'js/jquery-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/preloader.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.smoothscroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.parallax-scroll.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/nouislider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wNumb.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flatpickr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ionicons.js' %}"></script>
<script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scrollspy.js' %}"></script>
<script src="{% static 'asset/libs/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static "js/cleave.min.js" %}"></script>
<!-- form masks init -->
<script src="{% static " asset/js/pages/form-masks.init.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/lucide@0.295.0/dist/cjs/lucide.min.js"></script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="{% static "js/ajax.js" %}"></script>
<script type="text/javascript">
	function googleTranslateElementInit() {
		new google.translate.TranslateElement(
			{pageLanguage: 'en'},
			'google_translate_element'
		);
	}
</script>


<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
<!-- Smartsupp Live Chat script -->
    </script>
<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '4621d07f6a69a9dfa0116a26f59745caabb82189';
    window.smartsupp||(function(d) {
      var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
      s=d.getElementsByTagName('script')[0];c=d.createElement('script');
      c.type='text/javascript';c.charset='utf-8';c.async=true;
      c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
</script>
    <noscript> Powered by <a href='https://www.smartsupp.com' target='_blank'>Smartsupp</a></noscript>
</body>


<!-- Mirrored from html-template.spider-themes.net/Profitopit/index-finance.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Dec 2023 19:05:56 GMT -->

</html>
