{% extends "partials/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Profitopit - About Us{% endblock title %}
{% block content %}
<main>


    <section class="saas-faq-area bg-white"  >
       <div class="container" style="transform: translateY(90px); margin-bottom: 150px;">
           <div class="saas-section-title text-center mb-60 wow fadeInUp" data-wow-delay="0.2s" >
               <h2 >About <span>Us</span></h2>
               <p style="font-family: 'Poppins', sans-serif  !important;">Empowering Financial Futures: Unleashing Opportunities in Every Investment.<br> Discover Our Vision, Mission, and Commitment to Your Financial Success.</p>
           </div>
           <div class="row" >
               <div class="col-lg-6">
                   <div class="accordion" id="accordionExample">
                       <div class="faq_item wow fadeInUp" data-wow-delay="0.3s">
                           <div class="faq-header" id="headingOne">
                               <h6 class="mb-0" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">
                                   How do I reset my password?<i class="icon_plus"></i><i
                                       class="icon_minus-06"></i>
                               </h6>
                           </div>
                           <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                               data-bs-parent="#accordionExample">
                               <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                   <p> To reset your password, go to the login page and click on the "Forgot
                                       Password" link. You will be prompted to enter your email address and a reset
                                       link will be sent to you.</p>
                               </div>
                           </div>
                       </div>

                       <div class="faq_item wow fadeInUp" data-wow-delay="0.5s">
                           <div class="faq-header" id="headingTwo">
                               <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                   aria-expanded="true" aria-controls="collapseTwo">
                                   What payment methods do you accept and how do I track my purchase order?<i
                                       class="icon_plus"></i><i class="icon_minus-06"></i>
                               </h6>
                           </div>
                           <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                               data-bs-parent="#accordionExample">
                               <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                   <p> To reset your password, go to the login page and click on the "Forgot
                                       Password" link. You will be prompted to enter your email address and a reset
                                       link will be sent to you.</p>
                               </div>
                           </div>
                       </div>

                       <div class="faq_item wow fadeInUp" data-wow-delay="0.7s">
                           <div class="faq-header" id="headingThree">
                               <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                   aria-expanded="true" aria-controls="collapseThree">
                                   What is your return policy and how do I contact
                                   support incase of said event ?<i class="icon_plus"></i><i
                                       class="icon_minus-06"></i>
                               </h6>
                           </div>
                           <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                               data-bs-parent="#accordionExample">
                               <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                   <p> To reset your password, go to the login page and click on the "Forgot
                                       Password" link. You will be prompted to enter your email address and a reset
                                       link will be sent to you.</p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-lg-6">
                   <div class="accordion" id="accordionExample2">
                       <div class="faq_item wow fadeInUp" data-wow-delay="0.3s">
                           <div class="faq-header" id="headingFour">
                               <h6 class="mb-0" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                   aria-expanded="true" aria-controls="collapseFour">
                                   What is a mutual fund and how does compound interest builds up ?<i
                                       class="icon_plus"></i><i class="icon_minus-06"></i>
                               </h6>
                           </div>
                           <div id="collapseFour" class="collapse show" aria-labelledby="headingFour"
                               data-bs-parent="#accordionExample2">
                               <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                   <p> To reset your password, go to the login page and click on the "Forgot
                                       Password" link. You will be prompted to enter your email address and a reset
                                       link will be sent to you.</p>
                               </div>
                           </div>
                       </div>

                       <div class="faq_item wow fadeInUp" data-wow-delay="0.5s">
                           <div class="faq-header" id="headingFive">
                               <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                   aria-expanded="true" aria-controls="collapseFive">
                                   What budget is a financial plan that outlines your expected income and expenses
                                   ?<i class="icon_plus"></i><i class="icon_minus-06"></i>
                               </h6>
                           </div>
                           <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                               data-bs-parent="#accordionExample2">
                               <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                   <p> To reset your password, go to the login page and click on the "Forgot
                                       Password" link. You will be prompted to enter your email address and a reset
                                       link will be sent to you.</p>
                               </div>
                           </div>
                       </div>

                       <div class="faq_item wow fadeInUp" data-wow-delay="0.7s">
                           <div class="faq-header" id="headingSix">
                               <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                   aria-expanded="true" aria-controls="collapseSix">
                                   What is a strategy of spreading your investment across different asset classes
                                   ?<i class="icon_plus"></i><i class="icon_minus-06"></i>
                               </h6>
                           </div>
                           <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                               data-bs-parent="#accordionExample2">
                               <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                   <p> To reset your password, go to the login page and click on the "Forgot
                                       Password" link. You will be prompted to enter your email address and a reset
                                       link will be sent to you.</p>
                               </div>
                           </div>
                       </div>

                   </div>
               </div>
           </div>

         
       </div>
       
   </section>
   <!-- Faq end section -->


   <!-- footer start -->
</main>
    <script src="https://cdn.jsdelivr.net/npm/lucide@0.295.0/dist/cjs/lucide.min.js"></script>
    {% endblock content %}