{% extends "partials/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Profitopit - FAQs{% endblock title %}
{% block content %}
    <main>


         <section class="saas-faq-area bg-white"  >
            <div class="container" style="transform: translateY(90px); margin-bottom: 150px;">
                <div class="saas-section-title text-center mb-60 wow fadeInUp" data-wow-delay="0.2s" >
                    <h2 >Frequently asked <span>questions</span></h2>
                    <p style="font-family: 'Poppins', sans-serif  !important;">Navigate FAQs for Quick Assistance</p>
                </div>
                <div class="row" >
                    <div class="col-lg-6">
                        <div class="accordion" id="accordionExample">
                            <div class="faq_item wow fadeInUp" data-wow-delay="0.3s">
                                <div class="faq-header" id="headingOne">
                                    <h6 class="mb-0" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Who are we?<i class="icon_plus"></i><i
                                            class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionExample">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p style="font-family: 'Poppins', sans-serif  !important; ">  Profitopit is a global financial institution that provides excellent services with the goal of having a positive influence. Our priorities are excellence, quality and prompt client satisfaction. Our commitments includes openness, growing our clients and leaving a lasting international impact.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="faq_item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="faq-header" id="headingTwo">
                                    <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="true" aria-controls="collapseTwo">
                                        Who can create an account with profitopit ?<i
                                            class="icon_plus"></i><i class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p style="font-family: 'Poppins', sans-serif  !important; "> Individuals and legal entities are invited to benefit from our services. When signing up, ensure you meet the required legal age in your jurisdiction.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="faq_item wow fadeInUp" data-wow-delay="0.7s">
                                <div class="faq-header" id="headingThree">
                                    <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                        aria-expanded="true" aria-controls="collapseThree">
                                        How do i create an account with profitopit ?<i class="icon_plus"></i><i
                                            class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-bs-parent="#accordionExample">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p style="font-family: 'Poppins', sans-serif  !important; "> Getting started is easy! Simply sign up for an account on our platform, complete the necessary verification steps, and you'll have access to a user-friendly dashboard where you can explore investment opportunities, conduct research, and make informed decisions.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq_item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="faq-header" id="headingFive">
                                    <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                        aria-expanded="true" aria-controls="collapseFive">
                                        How do you ensure the security of my investments and personal information?<i class="icon_plus"></i><i class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                    data-bs-parent="#accordionExample2">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p style="font-family: 'Poppins', sans-serif  !important; "> Our website has several levels of encryption and protection from security companies.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq_item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="faq-header" id="headingFive">
                                    <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                        aria-expanded="true" aria-controls="collapseFive">
                                        How secure and safe is your investment with us ?<i class="icon_plus"></i><i class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                    data-bs-parent="#accordionExample2">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p style="font-family: 'Poppins', sans-serif  !important; "> Security is our top priority. We employ state-of-the-art encryption technologies to protect your personal information and use secure protocols for financial transactions. Additionally, we adhere to strict regulatory standards, providing you with a secure and trustworthy investment environment.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq_item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="faq-header" id="headingFive">
                                    <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                        aria-expanded="true" aria-controls="collapseFive">
                                        What payment methods can i use to make deposit?<i class="icon_plus"></i><i class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                    data-bs-parent="#accordionExample2">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p style="font-family: 'Poppins', sans-serif  !important; "> At the moment, we accept Bitcoin, Ethereum, Tron & USDT.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion" id="accordionExample2">
                            <div class="faq_item wow fadeInUp" data-wow-delay="0.3s">
                                <div class="faq-header" id="headingFour">
                                    <h6 class="mb-0" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                        aria-expanded="true" aria-controls="collapseFour">
                                        How quickly are payments made ?<i
                                            class="icon_plus"></i><i class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour"
                                    data-bs-parent="#accordionExample2">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p style="font-family: 'Poppins', sans-serif  !important; "> All payments are instant.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="faq_item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="faq-header" id="headingFive">
                                    <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                        aria-expanded="true" aria-controls="collapseFive">
                                        How many times can a user make deposits into their account ?<i class="icon_plus"></i><i class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                    data-bs-parent="#accordionExample2">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p style="font-family: 'Poppins', sans-serif  !important; "> Users can add funds to their accounts at any time, ensuring their funds are accessible and accessible to all users.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="faq_item wow fadeInUp" data-wow-delay="0.6s">
                                <div class="faq-header" id="headingSix">
                                    <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                        aria-expanded="true" aria-controls="collapseSix">
                                        How do you calculate the profits on my account ?<i class="icon_plus"></i><i class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                    data-bs-parent="#accordionExample2">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p style="font-family: 'Poppins', sans-serif  !important; "> The daily return on your account is earned, credited to your available balance at the end of each day, depending on the chosen plan return.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq_item wow fadeInUp" data-wow-delay="0.7s">
                                <div class="faq-header" id="headingSix">
                                    <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                        aria-expanded="true" aria-controls="collapseSix">
                                        What kind of support is available if I have questions or need assistance?<i class="icon_plus"></i><i class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                    data-bs-parent="#accordionExample2">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p style="font-family: 'Poppins', sans-serif  !important; ">We offer dedicated customer support to assist you with any questions or concerns. Our support team is available through various channels, including live chat, email, and phone, providing you with the assistance you need to make the most of your investment experience.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq_item wow fadeInUp" data-wow-delay="0.8s">
                                <div class="faq-header" id="headingSix">
                                    <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                        aria-expanded="true" aria-controls="collapseSix">
                                        How can i withdraw money from my account ?<i class="icon_plus"></i><i class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                    data-bs-parent="#accordionExample2">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p style="font-family: 'Poppins', sans-serif  !important; "> Login to your account and click on withdraw. Specify the amount and receiving account.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq_item wow fadeInUp" data-wow-delay="0.8s">
                                <div class="faq-header" id="headingSix">
                                    <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                        aria-expanded="true" aria-controls="collapseSix">
                                        Will daily profits be paid directly to my withdrawal account?<i class="icon_plus"></i><i class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                    data-bs-parent="#accordionExample2">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p style="font-family: 'Poppins', sans-serif  !important; "> No, earnings are stored in your online account, which you can access and withdraw at the end of your investment contract.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>

              
            </div>
            
        </section>
        <!-- Faq end section -->


        <!-- footer start -->
	</main>
    <script src="https://cdn.jsdelivr.net/npm/lucide@0.295.0/dist/cjs/lucide.min.js"></script>
    {% endblock content %}