{% extends "partials/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Profitopit - FAQs{% endblock title %}
{% block content %}
    <main>


         <section class="saas-faq-area bg-white"  >
            <div class="container" style="transform: translateY(90px); margin-bottom: 150px;">
                <div class="saas-section-title text-center mb-60 wow fadeInUp" data-wow-delay="0.2s" >
                    <h2 >Frequently asked <span>questions</span></h2>
                    <p style="font-family: 'Poppins', sans-serif  !important;">Navigate FAQs for Quick Assistance</p>
                </div>
                <div class="row" >
                    <div class="col-lg-6">
                        <div class="accordion" id="accordionExample">
                            <div class="faq_item wow fadeInUp" data-wow-delay="0.3s">
                                <div class="faq-header" id="headingOne">
                                    <h6 class="mb-0" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        What types of investments does your platform support?<i class="icon_plus"></i><i
                                            class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionExample">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p> Our investment platform supports a diverse range of investment options, including stocks, bonds, mutual funds, ETFs (Exchange-Traded Funds), and more. This allows you to create a well-rounded and diversified investment portfolio tailored to your financial goals.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="faq_item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="faq-header" id="headingTwo">
                                    <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="true" aria-controls="collapseTwo">
                                        What payment methods do you accept and how do I track investments?<i
                                            class="icon_plus"></i><i class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p> Currently we accept only Cryptocurrencies as payment. To track your investments, login into your dashboard and click on transactions,
                                            you will be able to see all transactions and investments made by you.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="faq_item wow fadeInUp" data-wow-delay="0.7s">
                                <div class="faq-header" id="headingThree">
                                    <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                        aria-expanded="true" aria-controls="collapseThree">
                                        How can I get started with investing on your platform ?<i class="icon_plus"></i><i
                                            class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-bs-parent="#accordionExample">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p> Getting started is easy! Simply sign up for an account on our platform, complete the necessary verification steps, and you'll have access to a user-friendly dashboard where you can explore investment opportunities, conduct research, and make informed decisions.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion" id="accordionExample2">
                            <div class="faq_item wow fadeInUp" data-wow-delay="0.3s">
                                <div class="faq-header" id="headingFour">
                                    <h6 class="mb-0" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                        aria-expanded="true" aria-controls="collapseFour">
                                        What is the minimum investment amount required ?<i
                                            class="icon_plus"></i><i class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour"
                                    data-bs-parent="#accordionExample2">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p> We believe in making investing accessible to everyone. The minimum investment amount varies depending on the type of investment, but we offer options that cater to both small and large investors. Check our platform for specific details on minimum investment amounts.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="faq_item wow fadeInUp" data-wow-delay="0.5s">
                                <div class="faq-header" id="headingFive">
                                    <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                        aria-expanded="true" aria-controls="collapseFive">
                                        How do you ensure the security of my investments and personal information?<i class="icon_plus"></i><i class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                    data-bs-parent="#accordionExample2">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p> Security is our top priority. We employ state-of-the-art encryption technologies to protect your personal information and use secure protocols for financial transactions. Additionally, we adhere to strict regulatory standards, providing you with a secure and trustworthy investment environment.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="faq_item wow fadeInUp" data-wow-delay="0.7s">
                                <div class="faq-header" id="headingSix">
                                    <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                        aria-expanded="true" aria-controls="collapseSix">
                                        Can I withdraw my funds at any time
                                        ?<i class="icon_plus"></i><i class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                    data-bs-parent="#accordionExample2">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p> Yes, you have the flexibility to withdraw your funds at any time. Our platform allows for easy and hassle-free withdrawals, ensuring that you have control over your investments and can access your funds when needed.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq_item wow fadeInUp" data-wow-delay="0.9s">
                                <div class="faq-header" id="headingSix">
                                    <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                        aria-expanded="true" aria-controls="collapseSix">
                                        What kind of support is available if I have questions or need assistance?<i class="icon_plus"></i><i class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                    data-bs-parent="#accordionExample2">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p>We offer dedicated customer support to assist you with any questions or concerns. Our support team is available through various channels, including live chat, email, and phone, providing you with the assistance you need to make the most of your investment experience.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq_item wow fadeInUp" data-wow-delay="0.9s">
                                <div class="faq-header" id="headingSix">
                                    <h6 class="mb-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                        aria-expanded="true" aria-controls="collapseSix">
                                        How is the performance of my investments tracked?<i class="icon_plus"></i><i class="icon_minus-06"></i>
                                    </h6>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                    data-bs-parent="#accordionExample2">
                                    <div class="faq-body" style="font-family: 'Poppins', sans-serif  !important;">
                                        <p> You can easily monitor the performance of your investments through the dashboard on our platform. We provide detailed reports, charts, and analytics to help you assess the success of your portfolio and make informed decisions about your investment strategy.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

              
            </div>
            
        </section>
        <!-- Faq end section -->


        <!-- footer start -->
	</main>
    <script src="https://cdn.jsdelivr.net/npm/lucide@0.295.0/dist/cjs/lucide.min.js"></script>
    {% endblock content %}